# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# ================================
# IDE
# ================================
.idea/
.junie/
.vscode/
*.iml

# ================================
# Scratch / archive
# ================================
archive/

# ================================
# Logs
# ================================
*.log

# ================================
# OS
# ================================
Thumbs.db
.DS_Store
/temp/
/backup/
